<a href="/<%= book.title %>">
    <div class="book">
        <img class="book-cover" src="<%= book.cover %>" alt="book cover">
        <p class="title"><%= book.title %></p>
        <b><p class="price"><%= book.price %></p></b>
    </div>
</a>